Repository littleRoundaer/sbt-native-packager, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, universal, debian, rpm, windows, graalvm, jdkpackager, jlink, docs

.github/labeler.yml:

docker:
  - src/main/scala/com/typesafe/sbt/packager/docker/*

universal:
  - src/main/scala/com/typesafe/sbt/packager/universal/*

debian:
  - src/main/scala/com/typesafe/sbt/packager/debian/*

rpm:
  - src/main/scala/com/typesafe/sbt/packager/rpm/*

windows:
  - src/main/scala/com/typesafe/sbt/packager/windows/*

graalvm:
  - src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/*

jdkpackager:
  - src/main/scala/com/typesafe/sbt/packager/jdkpackager/*

jlink:
  - src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/*

docs:
  - README.md
  - src/sphinx/*
  - src/site/*

FIx a few github action issues
  .github/workflows/validate-pr.yml
Labels: none

Use olafurpg java installer
  .github/workflows/validate-pr.yml
Labels: none

Fix invali yaml github action
  .github/workflows/validate-pr.yml
  .metals/metals.lock.db
  .metals/metals.log
Labels: none

No fail fast and proper windows label
  .github/workflows/validate-pr.yml
Labels: none

FIrst download zulu jdk
  .github/workflows/validate-pr.yml
Labels: none

Run validate before all other jobs
  .github/workflows/validate-pr.yml
Labels: none

INstall graalvm via jabba
  .github/workflows/validate-pr.yml
Labels: none

Always use windows latest
  .github/workflows/validate-pr.yml
Labels: none

Use macos-latest
  .github/workflows/validate-pr.yml
Labels: none

Replace array of runs-on with single value
  .github/workflows/validate-pr.yml
Labels: none

Experiment with ivy caching
  .github/workflows/validate-pr.yml
Labels: none

Add missing quote
  .github/workflows/validate-pr.yml
Labels: none

Run full ci on push to master as well
  .github/workflows/validate-pr.yml
Labels: none

use sbt files for hash
  .github/workflows/validate-pr.yml
  .metals/metals.lock.db
  .metals/metals.log
Labels: none

Fix scripted universal, ash, bash and jar
  .github/workflows/validate-pr.yml
  .metals/metals.lock.db
  .metals/metals.log
Labels: none

Add ivy cache to all steps
  .github/workflows/validate-pr.yml
Labels: none

Add missing quote
  .github/workflows/validate-pr.yml
Labels: none

Comment out docker and try simpler command fo windows
  .github/workflows/validate-pr.yml
Labels: none

Add folders from Bloop and Metals to gitignore (#1292)
  .gitignore
Labels: none

Debug github actions docker
  .github/workflows/debug-docker.yml
  .metals/metals.lock.db
  .metals/metals.log
Labels: none

Add steps
  .github/workflows/debug-docker.yml
Labels: none

Remove .metals folder
  .metals/metals.lock.db
  .metals/metals.log
Labels: none

JlinkPlugin: Add and document a workaround for automatic modules (#1295)
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
  src/sbt-test/jlink/test-jlink-misc/build.sbt
  src/sbt-test/jlink/test-jlink-misc/test
  src/sphinx/archetypes/index.rst
  src/sphinx/archetypes/jlink_plugin.rst
  src/sphinx/archetypes/misc_archetypes.rst
Labels: jlink

Remove labeler as it is broken for forks
  .github/workflows/labeler.yml
Labels: none

Remove mailinglist (#1291)
  README.md
Labels: docs

Replace dockerVersion with dockerApiVersion (#1296)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerApiVersion.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSpotifyClientPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSupport.scala
  src/main/scala/com/typesafe/sbt/packager/docker/Keys.scala
  src/sbt-test/docker/file-permission/changes/dockerversion.sbt
  src/sphinx/formats/docker.rst
  src/test/scala/com/typesafe/sbt/packager/docker/DockerApiVersionSpec.scala
Labels: docker

Update release version in readme
  README.md
Labels: docs

Update Changelog with version 1.6.0
  CHANGELOG.md
Labels: none

Enable docker for github actions, remove a bunch of travis jobs (#1298)
  .github/workflows/debug-docker.yml
  .github/workflows/validate-pr.yml
  .travis.yml
  build.sbt
Labels: none

Fix little typo in longclasspath.rst (#1300)
  src/sphinx/recipes/longclasspath.rst
Labels: none

Introduce RPM / packageBin / artifactPath setting. (#1299)
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmHelper.scala
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmPlugin.scala
  src/sbt-test/rpm/test-artifactPath/build.sbt
  src/sbt-test/rpm/test-artifactPath/project/plugins.sbt
  src/sbt-test/rpm/test-artifactPath/test
  src/sphinx/formats/rpm.rst
Labels: rpm

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Change all references to macOS (#1301)
  .github/workflows/validate-pr.yml
  README.md
  build.sbt
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bash-forwarder-template
  src/main/scala/com/typesafe/sbt/packager/jdkpackager/JDKPackagerAntHelper.scala
  src/main/scala/com/typesafe/sbt/packager/jdkpackager/JDKPackagerKeys.scala
  src/main/scala/com/typesafe/sbt/packager/universal/Archives.scala
  src/main/scala/com/typesafe/sbt/packager/universal/Keys.scala
  src/main/scala/com/typesafe/sbt/packager/universal/ZipHelper.scala
  src/sphinx/archetypes/java_server/index.rst
  src/sphinx/formats/graalvm-native-image.rst
  src/sphinx/formats/jdkpackager.rst
  src/sphinx/formats/universal.rst
Labels: universal, jdkpackager, docs

please add sbt-kubeyml (#1306)
  README.md
Labels: docs

Fix ash template (#1303)
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/ash-template
  src/sbt-test/ash/command-line-settings/build.sbt
  src/sbt-test/ash/command-line-settings/src/main/scala/MainApp.scala
  src/sbt-test/ash/command-line-settings/test
Labels: none

Fix for native-image to work in Windows (#1312)
  build.sbt
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImageKeys.scala
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
  src/sphinx/formats/graalvm-native-image.rst
Labels: graalvm

Fix windows / test-bat-template (#1314)
  src/sbt-test/windows/test-bat-template/build.sbt
Labels: none

update sbt plugins
  project/plugins.sbt
Labels: none

Add metals.sbt to gitignore
  .gitignore
Labels: none
