Repository littleRoundaer/sbt-native-packager, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, universal, debian, rpm, windows, graalvm, jdkpackager, jlink, docs

Updating version (#1457)
  README.md
Labels: docs

DockerPlugin code cleanup (#1436)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
Labels: docker

Update homepage and scmInfo in build (#1463)
  build.sbt
Labels: none

Remove cross-build for sbt 0.13.x
  build.sbt
Labels: none

Fix #1464 (#1465)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
Labels: docker

use proper native image command on windows (#1473)
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
  src/sphinx/formats/graalvm-native-image.rst
Labels: graalvm

fix handling long classpath for graalvm on windows (#1472)
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
Labels: graalvm

Fix #1479, #1480, #1481, #1482, #1483, #1484, #1485, #1486, #1487 (#1490)
  .github/workflows/release.yml
  .github/workflows/validate-pr.yml
Labels: none

Specify working directory for graalvm-native-image (#1496)
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
Labels: graalvm

Remove unused private methods (makeComment). (#1474)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
Labels: docker

JLinkPlugin improvements (#1499)
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
  src/test/resources/jdeps_output.txt
  src/test/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkSpec.scala
Labels: jlink

Fix missing Graalvm native-image binary symlink in generated container image (#1500)
  .github/workflows/validate-pr.yml
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
  src/sbt-test/graalvm-native-image/docker-native-image/build.sbt
Labels: graalvm

Fixes link 404 not found (#1509)
  src/sphinx/formats/graalvm-native-image.rst
Labels: none

use modern sbt syntax in doc (#1508)
  src/sphinx/archetypes/cheatsheet.rst
  src/sphinx/archetypes/java_app/customize.rst
  src/sphinx/archetypes/java_app/index.rst
  src/sphinx/archetypes/java_server/customize.rst
  src/sphinx/archetypes/systemloaders.rst
  src/sphinx/formats/debian.rst
  src/sphinx/formats/docker.rst
  src/sphinx/formats/graalvm-native-image.rst
  src/sphinx/formats/index.rst
  src/sphinx/formats/jdkpackager.rst
  src/sphinx/formats/linux.rst
  src/sphinx/formats/rpm.rst
  src/sphinx/formats/universal.rst
  src/sphinx/formats/windows.rst
  src/sphinx/gettingstarted.rst
  src/sphinx/introduction.rst
  src/sphinx/recipes/custom.rst
  src/sphinx/recipes/deployment.rst
  src/sphinx/recipes/embedded-jvm.rst
  src/sphinx/recipes/package_configuration.rst
  src/sphinx/recipes/play.rst
  src/sphinx/recipes/scalajs.rst
Labels: docs

.github/labeler.yml:

docker:
  - src/main/scala/com/typesafe/sbt/packager/docker/*

universal:
  - src/main/scala/com/typesafe/sbt/packager/universal/*

debian:
  - src/main/scala/com/typesafe/sbt/packager/debian/*

rpm:
  - src/main/scala/com/typesafe/sbt/packager/rpm/*

windows:
  - src/main/scala/com/typesafe/sbt/packager/windows/*

graalvm:
  - src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/*

jdkpackager:
  - src/main/scala/com/typesafe/sbt/packager/jdkpackager/*

jlink:
  - src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/*

docs:
  - README.md
  - src/sphinx/*
  - src/site/*
