Repository littleRoundaer/sbt-native-packager, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, universal, debian, rpm, windows, graalvm, jdkpackager, jlink, docs

.github/labeler.yml:

docker:
  - src/main/scala/com/typesafe/sbt/packager/docker/*

universal:
  - src/main/scala/com/typesafe/sbt/packager/universal/*

debian:
  - src/main/scala/com/typesafe/sbt/packager/debian/*

rpm:
  - src/main/scala/com/typesafe/sbt/packager/rpm/*

windows:
  - src/main/scala/com/typesafe/sbt/packager/windows/*

graalvm:
  - src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/*

jdkpackager:
  - src/main/scala/com/typesafe/sbt/packager/jdkpackager/*

jlink:
  - src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/*

docs:
  - README.md
  - src/sphinx/*
  - src/site/*

Actually run ci-release
  .github/workflows/release.yml
Labels: none

Only generate release changelog
  .github/workflows/release.yml
Labels: none

Use latest sbt-bintray
  project/plugins.sbt
Labels: none

Pass bintray environment variables via secrets
  .github/workflows/release.yml
Labels: none

Install sphinx
  .github/workflows/release.yml
Labels: none

Remove github pages step for once
  .github/workflows/release.yml
  build.sbt
Labels: none

Limit issues
  .github/workflows/release.yml
Labels: none

Install sphinx anyhow
  .github/workflows/release.yml
  build.sbt
Labels: none

Use coursier cache action
  .github/workflows/release.yml
Labels: none

Call validate pr only on validate pr
  .github/workflows/validate-pr.yml
Labels: none

Setup git
  .github/workflows/release.yml
Labels: none

Setup SSH
  .github/workflows/release.yml
Labels: none

Use pip3 to install sphinx
  .github/workflows/release.yml
  project/plugins.sbt
Labels: none

Add the .local/bin to PATH env
  .github/workflows/release.yml
  src/sphinx/archetypes/java_app/customize.rst
  src/sphinx/archetypes/java_server/customize.rst
  src/sphinx/formats/graalvm-native-image.rst
Labels: none

Upgrade setup-scala github action (#1384)
  .github/workflows/validate-pr.yml
  project/plugins.sbt
Labels: none

Issue 1382: Detect config files regardless of execute permission (#1383)
  src/main/scala/com/typesafe/sbt/packager/linux/LinuxPlugin.scala
Labels: none

Fix #1385 Add release drafter (#1386)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: none

Remove on pull #1385
  .github/workflows/release-drafter.yml
Labels: none

update version of ant from 1.10.5 to 1.10.9 (#1390)
  build.sbt
Labels: none

Update index.rst (#1396)
  src/sphinx/archetypes/java_app/index.rst
Labels: none

Update Graalvm docker repository & build version (#1395)
  .github/workflows/validate-pr.yml
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
  src/sbt-test/graalvm-native-image/docker-native-image/build.sbt
Labels: graalvm

Move some defaults of docker to global scope (#1403)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/universal/UniversalPlugin.scala
Labels: docker, universal

Update docker.rst (#1410)
  src/sphinx/formats/docker.rst
Labels: none

Fix typo in rpm.rst (#1413)
  src/sphinx/formats/rpm.rst
Labels: none

fix error message for rpm metadata validation (#1416)
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmMetadata.scala
Labels: rpm

Try to determistically order WIX xml output (#1418)
  src/main/scala/com/typesafe/sbt/packager/windows/WixHelper.scala
Labels: windows

Only set executable permission on staged files if required and not set (#1414)
  src/main/scala/com/typesafe/sbt/packager/Stager.scala
Labels: none

Optimize docker layers (#1425)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/sbt-test/docker/file-permission/build.sbt
  src/sbt-test/docker/test-executableScriptName/test
  src/sbt-test/docker/test-layer-groups/build.sbt
  src/sbt-test/docker/test-layer-groups/test
  src/sbt-test/docker/test-packageName-universal/test
  src/sbt-test/docker/test-packageName/test
Labels: docker

Remove custom sonatypeProfileName
  build.sbt
Labels: none

Add missing sphinx setup
  .github/workflows/release.yml
Labels: none

Replace obsolete Bintray badge with Scaladex version (#1431)
  README.md
Labels: docs

Remove commented code #1426
  src/main/scala/com/typesafe/sbt/packager/universal/Archives.scala
Labels: universal

Fix #1428 docs
  README.md
  src/sphinx/gettingstarted.rst
Labels: docs

Added dockerBuildInit option (#1438)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/Keys.scala
  src/sphinx/formats/docker.rst
Labels: docker

bump scala-parser-combinators to 2.0.0 (#1442)
  build.sbt
Labels: none

Fix link to the Oracle GraalVM Community Edition Docker images (#1448)
  src/sphinx/formats/graalvm-native-image.rst
Labels: none

use only unix file separators when generating unix scripts (#1440)
  src/main/scala/com/typesafe/sbt/packager/archetypes/scripts/AshScriptPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/scripts/BashStartScriptPlugin.scala
Labels: none

Fix for realpath /root returning //root. (#1451)
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bash-template
Labels: none

Downgrade scala-parser-combinators (#1455)
  build.sbt
Labels: none

Double-slash fix (f909a40921e58af476ccfc6155f198c5cd10ec6b) for ash-template. (#1453)
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/ash-template
Labels: none
