Repository littleRoundaer/sbt-native-packager, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, universal, debian, rpm, windows, graalvm, jdkpackager, jlink, docs

.github/labeler.yml:

docker:
  - src/main/scala/com/typesafe/sbt/packager/docker/*

universal:
  - src/main/scala/com/typesafe/sbt/packager/universal/*

debian:
  - src/main/scala/com/typesafe/sbt/packager/debian/*

rpm:
  - src/main/scala/com/typesafe/sbt/packager/rpm/*

windows:
  - src/main/scala/com/typesafe/sbt/packager/windows/*

graalvm:
  - src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/*

jdkpackager:
  - src/main/scala/com/typesafe/sbt/packager/jdkpackager/*

jlink:
  - src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/*

docs:
  - README.md
  - src/sphinx/*
  - src/site/*

Separate Docker Layers for Dependencies and App jars. (#1310)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/Keys.scala
  src/main/scala/com/typesafe/sbt/packager/docker/LayeredMapping.scala
  src/sbt-test/docker/file-permission/build.sbt
  src/sbt-test/docker/test-executableScriptName/test
  src/sbt-test/docker/test-layer-groups/build.sbt
  src/sbt-test/docker/test-layer-groups/changes/nolayers.sbt
  src/sbt-test/docker/test-layer-groups/docker/log4j.properties
  src/sbt-test/docker/test-layer-groups/docker/spark-env.sh
  src/sbt-test/docker/test-layer-groups/layers.sbt
  src/sbt-test/docker/test-layer-groups/project/plugins.sbt
  src/sbt-test/docker/test-layer-groups/src/main/scala/Main.scala
  src/sbt-test/docker/test-layer-groups/test
  src/sbt-test/docker/test-packageName-universal/test
  src/sbt-test/docker/test-packageName/test
  src/sphinx/formats/docker.rst
Labels: docker

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Name the main docker stage (#1316)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/sbt-test/docker/file-permission/build.sbt
Labels: docker

Remove docker sudo test from build (#1318)
  src/sbt-test/docker/simple-sudo-docker/build.sbt
  src/sbt-test/docker/simple-sudo-docker/project/plugins.sbt
  src/sbt-test/docker/simple-sudo-docker/src/main/scala/Main.scala
  src/sbt-test/docker/simple-sudo-docker/test
Labels: none

Update universal.rst (#1320)
  src/sphinx/formats/universal.rst
Labels: none

Add space between inline-literal symbol and word (#1328)
  src/sphinx/formats/graalvm-native-image.rst
Labels: none

Improved layer grouping (#1326)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/Keys.scala
  src/sbt-test/docker/test-layer-groups/build.sbt
  src/sbt-test/docker/test-layer-groups/changes/nolayers.sbt
  src/sbt-test/docker/test-layer-groups/layers.sbt
  src/sbt-test/docker/test-layer-groups/test
Labels: docker

Fix argument passing in ash template (#1334)
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/ash-template
  src/sbt-test/ash/command-line-settings/build.sbt
Labels: none

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Add support for docker:publish in DockerSpotifyClientPlugin (#1338)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSpotifyClientPlugin.scala
Labels: docker

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Add addApp function to align with bash version (#1339)
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/ash-template
  src/sbt-test/ash/add-app-settings/build.sbt
  src/sbt-test/ash/add-app-settings/project/plugins.sbt
  src/sbt-test/ash/add-app-settings/src/main/scala/MainApp.scala
  src/sbt-test/ash/add-app-settings/test
Labels: none

rename task wix-file to wixFile (#1340)
  src/sphinx/formats/windows.rst
Labels: none

typo extra `
  src/sphinx/recipes/deployment.rst
Labels: none

Normalize paths when mapping generic files to docker (#1343)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
Labels: docker

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

remove sbt 0.12 operators from documentation (#1350)
  src/sphinx/formats/universal.rst
Labels: none

Systemd mark file as non config (#1351)
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/SystemdPlugin.scala
  src/sphinx/archetypes/systemloaders.rst
Labels: none

fix(Docker.*?Plugin): restore the sbt-standard task concurrency tags (#1352)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSpotifyClientPlugin.scala
Labels: docker

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Restore version in the README to 1.7.4 (#1357)
  README.md
Labels: docs

Issue 1347: Upgrade common-compress to 1.20
  build.sbt
Labels: none

Update release version in readme
  README.md
Labels: docs

Update changelog
  CHANGELOG.md
Labels: none

Describe dockerGroupLayers and how to disable it (#1369)
  src/sphinx/formats/docker.rst
Labels: none

docker: make None the last layer group (#1370)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/sbt-test/docker/test-layer-groups/build.sbt
  src/sbt-test/docker/test-layer-groups/test
Labels: docker

Update release version in readme
  README.md
Labels: docs

Omit removed Java modules from detected jlinkModules (#1374)
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
Labels: jlink

Redirect docker buildkit stderr to info (#1373)
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
Labels: docker

Update changelog
  CHANGELOG.md
Labels: none

Use github actions for automatic releases (#1376)
  .github/workflows/release.yml
  .travis.yml
  build.sbt
  project/ChangelogPlugin.scala
  project/plugins.sbt
  project/secrets.tar.enc
  release-travis.sh
Labels: none

Use sbt-pgp from io.crashbox
  project/plugins.sbt
Labels: none

Use sbt-pgp again
  project/plugins.sbt
Labels: none
